* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    border: 0;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(243,243,243);
    overflow: hidden;
    white-space: nowrap;
}

::-webkit-scrollbar {
    display: none;
}

header {
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    text-align: center;
    position: relative;
    line-height: 60px;
}

    header .navIcon {
        display:inline-block;
        vertical-align:middle;
        cursor: pointer;
        color:#b72a3d;
        padding:14px 24px;
        float:left;
        width:52px;
        margin-top:4px;
    }

        /*header .navIcon:hover {
            background-position: -5px -45px;
        }*/

    header .logo {
        width: 186px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -93px;
    }

        header .logo img {
            position: relative;
            width: 100%;
            top: 50%;
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

    header .LoginRe {
        width: 300px;
        height: 100%;
        position: absolute;
        right: 20px;
        top: 0;
        line-height: 60px;
    }

        header .LoginRe .NoLogin, header .LoginRe .HasLogin {
            font-size: 0;
            text-align: right;
            height: 100%;
            float: right;
            cursor: pointer;
        }

            header .LoginRe .NoLogin span:nth-child(1) {
                display: inline-block;
                vertical-align: middle;
                height: 100%;
                font-size: 14px;
                color: #232323;
                margin-right: 10px;
                cursor: pointer;
            }

            header .LoginRe .NoLogin span:nth-child(2) {
                display: inline-block;
                vertical-align: middle;
                height: 100%;
                font-size: 14px;
                color: #b52b3c;
                cursor: pointer;
            }

            header .LoginRe .HasLogin img {
                display: inline-block;
                vertical-align: middle;
                width: 40px;
                margin-right: 10px;
                border-radius: 50%;
            }

            header .LoginRe .HasLogin span {
                display: inline-block;
                vertical-align: middle;
                height: 100%;
                font-size: 14px;
                color: #232323;
            }

.main {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 0;
    overflow-x: hidden;
    /*overflow-y: scroll;*/
    position: absolute;
    left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


    .main iframe {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

.navBox {
    width: 320px;
    height: 100%;
    position: absolute;
    left: -320px;
    z-index: 999999;
    background: #fff;
    -webkit-box-shadow: 2px 0px 2px -2px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 2px 0px 2px -2px rgba(50, 50, 50, 0.3);
    box-shadow: 2px 0px 2px -2px rgba(50, 50, 50, 0.3);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

    .navBox.opened {
        left: 0;
    }

.nav {
    width: 320px;
}

    .nav li {
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #e0e0e0;
        font-size: 0;
        line-height: 60px;
        cursor: pointer;
    }

        .nav li img {
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            margin: 0 10px 0 20px;
        }

        .nav li span {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            color: #b52b3c;
        }

        .nav li.active span {
            font-weight: bold;
        }

.LoginBox, .UserInfo {
    width: 320px;
    position: fixed;
    right: -320px;
    top: 60px;
    height: 100%;
    z-index: 999999;
    background: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-box-shadow: -2px 0px 2px -2px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: -2px 0px 2px -2px rgba(50, 50, 50, 0.3);
    box-shadow: -2px 0px 2px -2px rgba(50, 50, 50, 0.3);
    transition:all .3s;
}
.Drawer {
    -moz-transform: translateX(-320px);
    -ms-transform: translateX(-320px);
    -o-transform: translateX(-320px);
    -webkit-transform: translateX(-320px);
    transform: translateX(-320px);
}
    .LoginBox .LoginNav {
        width: 100%;
        height: 60px;
        overflow: hidden;
    }

        .LoginBox .LoginNav > div {
            float: left;
            width: 140px;
            height: 60px;
            text-align: center;
            line-height: 70px;
            border-bottom: 1px solid #e0e0e0;
            font-size: 20px;
            color: #999;
            box-sizing: border-box;
            cursor: pointer;
        }

            .LoginBox .LoginNav > div.active {
                color: #b52b3c;
                border-bottom: 1px solid #b52b3c;
            }

    .LoginBox .User {
        width: 100%;
        height: 108px;
        overflow: hidden;
        position: relative;
    }

    .LoginBox .ClearBtn {
        width: 24px;
        height: 24px;
        background-image: url('https://mall-res.momentcam.net/Images/mo/index/home_icon_clear.png');
        position: absolute;
        right: 10px;
        bottom: 12px;
        cursor: pointer;
        display: none;
    }

        .LoginBox .ClearBtn:hover {
            background-image: url('https://mall-res.momentcam.net/Images/mo/index/home_icon_clear_click.png');
        }

    .LoginBox .User p {
        font-size: 14px;
        color: #232323;
        height: 60px;
        line-height: 80px;
    }

    .LoginBox input {
        display: block;
        width: 100%;
        height: 48px;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        text-indent: 10px;
        outline: none;
    }

        .LoginBox input:focus {
            border: 1px solid #b52b3c;
        }

            .LoginBox input:focus + div {
                display: block;
            }

    .LoginBox .Pwd, .LoginBox .PwdSure {
        width: 100%;
        height: 88px;
        overflow: hidden;
        position: relative;
    }

        .LoginBox .Pwd p, .LoginBox .PwdSure p {
            width: 100%;
            height: 40px;
            line-height: 46px;
            font-size: 14px;
            color: #232323;
        }

            .LoginBox .Pwd p span {
                float: right;
                height: 40px;
                cursor: pointer;
            }

    .LoginBox .Submit {
        width: 100%;
        height: 48px;
        background: #b52b3c;
        text-align: center;
        line-height: 48px;
        font-size: 20px;
        color: #fff;
        margin: 30px 0 35px;
        cursor: pointer;
    }

    .LoginBox .IsRegister {
        width: 100%;
        overflow: hidden;
    }

        .LoginBox .IsRegister .CreatBtn {
            font-size: 20px;
            color: #b52b3c;
            width: 100%;
            height: 48px;
            line-height: 46px;
            border: 1px solid #b52b3c;
            cursor: pointer;
            text-align: center;
            box-sizing: border-box;
        }

        .LoginBox .IsRegister .IsRegisterLine {
            width: 100%;
            overflow: hidden;
            font-size: 0;
            margin-bottom: 10px;
        }

            .LoginBox .IsRegister .IsRegisterLine .IsLine {
                width: auto;
                height: 1px;
                background: #e0e0e0;
                box-sizing: border-box;
                display: inline-block;
                vertical-align: middle;
            }

            .LoginBox .IsRegister .IsRegisterLine .IsTip {
                width: auto;
                box-sizing: border-box;
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                color: #999;
                margin: 0 10px;
            }

    .UserInfo .headIcon {
        width: 100%;
        overflow: hidden;
        margin: 20px 0 40px;
    }

        .UserInfo .headIcon img {
            display: block;
            width: 100px;
            margin: 0 auto 10px;
        }

        .UserInfo .headIcon p {
            font-size: 20px;
            color: #232323;
            text-align: center;
        }

    .UserInfo .Layout {
        width: 280px;
        height: 48px;
        text-align: center;
        line-height: 46px;
        box-sizing: border-box;
        border: 1px solid #b52b3c;
        font-size: 20px;
        color: #fff;
        background:#b52b3c;
        margin-top: 30px;
        cursor: pointer;
        position:absolute;
        left:20px;
        bottom:80px;
        transition: all .3s;
    }
    /*.UserInfo .Layout:hover{
       border:1px solid #971b2b;
       background:#971b2b;
    }*/
    .UserInfo .GoLoadPic{
        width: 280px;
        height: 48px;
        text-align: center;
        line-height: 46px;
        box-sizing: border-box;
        border: 1px solid #b52b3c;
        font-size: 20px;
        color: #b52b3c;
        margin: 30px auto 0;
        cursor: pointer;
        transition: all .3s;
    }
    .UserInfo .GoLoadPic:hover{
       background-color:#971b2b;
       color:white;
    }
    .UserInfo .UserContent {
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }

        .UserInfo .UserContent > div {
            width: 50%;
            height: 90px;
            box-sizing: border-box;
            float: left;
        }

            .UserInfo .UserContent > div:nth-child(1) {
                border-right: 1px solid #e0e0e0;
                border-bottom: 1px solid #e0e0e0;
            }

            .UserInfo .UserContent > div:nth-child(2) {
                border-bottom: 1px solid #e0e0e0;
            }

            .UserInfo .UserContent > div:nth-child(3) {
                border-right: 1px solid #e0e0e0;
            }

            .UserInfo .UserContent > div p:nth-child(1) {
                font-size: 28px;
                color: #b52b3c;
                text-align: center;
                margin-top: 18px;
            }

            .UserInfo .UserContent > div p:nth-child(2) {
                font-size: 18px;
                color: #999;
                text-align: center;
            }

    .UserInfo .UserDdit {
        width: 100%;
        height: 48px;
        text-align: center;
        line-height: 46px;
        box-sizing: border-box;
        border: 1px solid #b52b3c;
        font-size: 20px;
        color: #b52b3c;
        margin-top: 30px;
        cursor: pointer;
    }
